$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$card-back: white;

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100%;
    background-image: linear-gradient($soft-violet, $soft-blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-position {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 45vw;
    height: 50vh;
    background-color: $card-back;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    overflow: hidden;
}

.pattern {
    grid-row: 1/-1;
    background-size: cover;
    width: 800px;
    position: absolute;
    left: -450px;
    top: -250px;
}

@media (max-width: 1000px) {
    .card {
        width: 75vw;
        height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        position: relative;
        overflow: hidden;
        transition: all .3s;
    }

    .pattern {
        grid-row: 1/-1;
        background-size: cover;
        width: 800px;
        position: absolute;
        left: -150px;
        top: -250px;
    }
}