*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif; }

body {
  height: 100%;
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.card-position {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.card {
  width: 45vw;
  height: 50vh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  overflow: hidden; }

.pattern {
  grid-row: 1/-1;
  background-size: cover;
  width: 900px;
  position: absolute;
  left: -550px;
  top: -280px; }

.woman {
  width: 26rem;
  position: absolute;
  top: 50px;
  left: -65px; }

.box {
  position: absolute;
  left: 435px;
  top: 400px; }

@media (max-width: 1000px) {
  .card {
    width: 75vw;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    position: relative;
    min-width: 400px;
    max-width: 400px;
    transition: all .3s;
    overflow: visible; }
  .pattern {
    grid-row: 1/3;
    background-size: cover;
    width: 300px;
    left: 15%;
    top: 0; }
  .woman {
    width: 300px;
    position: absolute;
    left: 15%;
    top: -130px; }
  .box {
    display: none; } }
