$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$card-back: white;

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100%;
    background-image: linear-gradient($soft-violet, $soft-blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-position {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 50vw;
    height: 50vh;
    background-color: $card-back;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    position: relative;
    overflow: hidden;
}

.pattern {
    grid-row: 1/-1;
    background-size: cover;
    width: 900px;
    position: absolute;
    left: -550px;
    top: -280px;
}

.woman {
    width: 26rem;
    position: absolute;
    top: 50px;
    left: -65px;
}

.box {
    position: absolute;
    left: 388px;
    top: 400px;
}

.text {
    grid-column: 2;
    margin-left: 1rem;
    margin-right: 2rem;
    border: 0;
}

.button {
    cursor: pointer;
    background: url("images/icon-arrow-down.svg") no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 3rem;
    display: inline-block;
    transition: all .3s;
}

#textA, #textB, #textC, #textD, #textE {
    display: inline-block;
    margin-bottom: 1rem;
}

#buttonB {
    margin-left: 3.1rem;
}

#buttonC {
    margin-left: 7.35rem;
}

#buttonD {
    margin-left: 7.2rem;
}

#buttonE {
    margin-left: 4.5rem;
}

.rotate {
    transform: rotate(180deg);
}

h1 {
    margin-top: 4rem; 
    margin-bottom: 2rem;
    grid-column: 1;
}

.toggle {
    margin-bottom: 1rem;
    margin-right: 2rem;
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    margin-bottom: 1rem;
}

.invite {
    grid-row: 1;
    grid-column: 2;
    display: inline-block;
}

.upload, .password, .subscript, .support {
    display: inline-block;
}

@media (max-width: 1000px) {
    .card {
        width: 75vw;
        height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        position: relative;
        min-width: 400px;
        max-width: 400px;
        transition: all .3s;
        overflow: visible;
    }

    .pattern {
        grid-row: 1/3;
        background-size: cover;
        width: 300px;
        left: 15%;
        top: 0;
    }

    .woman {
        width: 300px;
        position: absolute;
        left: 15%;
        top: -130px;
    }

    .box {
        display: none;
    }

    h1 {
        margin-top: 10rem; 
        margin-bottom: 2rem;
        grid-column: 2;
        text-align: center;
    }

    .text {
        grid-column: 2;
        border: 0;
        display: inline;
    }

    .toggle {
        margin-right: 2.5rem;
        margin-bottom: 1.5rem;
    }

    hr {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    #buttonA {
        margin-left: 1px;
    }

    #buttonB {
        margin-left: 3px;
    }

    #buttonC {
        margin-left: 4.4rem;
    }

    #buttonD {
        margin-left: 4.2rem;
    }

    #buttonE {
        margin-left: 1.5rem;
    }


}